{% extends 'base.html' %}
{% load i18n %}
{% load static %}

{% block content %}

<!-- Bootstrap Carousel Section -->
<section class="slider-section pt-0">
    {% include 'contentmanagement/main-carousel.html' %}
</section>

<section class="history-section">
    {% include 'contentmanagement/history.html' %}
</section>

<section class="product-section">
 {% include 'contentmanagement/products-carousel.html' %}
</section>

<section class="newsevent-section">
 {% include 'contentmanagement/posts-carousel.html' %}
</section>

<section class="feedback-section" data-aos="fade-up" data-aos-duration="500">
   {% include 'contentmanagement/customer-reviews-carousel.html' %}
</section>
<section class="faq-section" data-aos="fade-up" data-aos-duration="1500">
   {% include 'contentmanagement/frequently-asked-questions.html' %}
</section>
<section class="leaveRequest-section mb-4" data-aos="fade-up" data-aos-duration="1500">
    <div class="bg-grey border-radius-20 px-4 pt-4 pb-5">
        <div class="row justify-content-between">
            <div class="col-lg-5">
                <h2 class="heading-2 mb-3 mb-lg-4">{% trans 'Leave a request' %}</h2>
                <p class="body-2 mb-4 mb-lg-0 pb-2">{% trans 'Get a consultation or place an order. We are ready to help you with any questions you may have!' %}</p>
            </div>
            <div class="col-lg-6">
                {% include 'consultation_form.html' %}
            </div>
        </div>
    </div>
</section>
{% endblock  %}