{% extends 'base.html' %}
{% load i18n %}
{% load static %}

{% block content %}

<!-- Bootstrap Carousel Section -->
<section class="slider-section pt-0">
    {% include 'contentmanagement/main-carousel.html' %}
</section>

<section class="history-section">
    {% include 'contentmanagement/history.html' %}
</section>

<section>
    <div class="row mb-5" data-aos="fade-up" data-aos-duration="500">
        <div class="col-lg-6">
            <h2 class="heading-2 mb-0">{% trans "Our Partners" %}</h2>
        </div>
        <div class="col-lg-4">
            <p class="body-1 mb-0">{% trans "Trusted partners supporting innovation and quality at ELIMA." %}</p>
        </div>
    </div>
    <div class="container" data-aos="fade-up" data-aos-duration="500">
        <div class="row">
            <div class="col-6 col-md-3 logo-container-special">
                <img src="{% static 'img/AmirSoy-01_qNLgY5e.png' %}"  alt="Brand 1" class="brand-logo-special">
            </div>
            <div class="col-6 col-md-3 logo-container-special">
                <img src="{% static 'img/tg_image_2421191004.png' %}" alt="Brand 2" class="brand-logo-special">
            </div>
            <div class="col-6 col-md-3 logo-container-special">
                <img src="{% static 'img/МЧС_FVV-01.png' %}" alt="Brand 3" class="brand-logo-special">
            </div>
            <div class="col-6 col-md-3 logo-container-special">
            <img src="{% static 'img/Sevimli-01.png' %}" alt="Brand 5" class="brand-logo-special">
            </div>

            <div class="col-6 col-md-3 logo-container-special">
                <img src="{% static 'img/IIV-01.png' %}" alt="Brand 4" class="brand-logo-special">
            </div>
            <div class="col-6 col-md-3 logo-container-special">
                <img src="{% static 'img/Ташкенский_зоопарк-01.png' %}" alt="Brand 6" class="brand-logo-special">
            </div>
            <div class="col-6 col-md-3 logo-container-special">
                <img src="{% static 'img/photo_2025-02-26_23-06-36.jpg' %}" alt="Brand 7" class="brand-logo-special">
            </div>
            <div class="col-6 col-md-3 logo-container-special">
                <img src="{% static 'img/photo_2025-02-26_23-06-42.jpg' %}" alt="Brand 8" class="brand-logo-special">
            </div>

            <div class="col-6 col-md-3 logo-container-special">
            <img src="{% static 'img/photo_2025-02-26_23-06-47.jpg' %}" alt="Brand 7" class="brand-logo-special">
        </div>
        <div class="col-6 col-md-3 logo-container-special">
            <img src="{% static 'img/photo_2025-02-26_23-06-51.jpg' %}" alt="Brand 8" class="brand-logo-special">
        </div>
        <div class="col-6 col-md-3 logo-container-special">
            <img src="{% static 'img/photo_2025-02-26_23-06-54.jpg' %}" alt="Brand 8" class="brand-logo-special">
        </div>
        </div>
    </div>
</section>

<section class="product-section">
 {% include 'contentmanagement/products-carousel.html' %}
</section>

<section class="newsevent-section">
 {% include 'contentmanagement/posts-carousel.html' %}
</section>

<section class="feedback-section" data-aos="fade-up" data-aos-duration="500">
   {% include 'contentmanagement/customer-reviews-carousel.html' %}
</section>
<section class="faq-section" data-aos="fade-up" data-aos-duration="1500">
   {% include 'contentmanagement/frequently-asked-questions.html' %}
</section>
<section class="leaveRequest-section mb-4" data-aos="fade-up" data-aos-duration="1500">
    <div class="bg-grey border-radius-20 px-4 pt-4 pb-5">
        <div class="row justify-content-between">
            <div class="col-lg-5">
                <h2 class="heading-2 mb-3 mb-lg-4">{% trans 'Leave a request' %}</h2>
                <p class="body-2 mb-4 mb-lg-0 pb-2">{% trans 'Get a consultation or place an order. We are ready to help you with any questions you may have!' %}</p>
            </div>
            <div class="col-lg-6">
                {% include 'consultation_form.html' %}
            </div>
        </div>
    </div>
</section>
{% endblock  %}