{% extends 'base.html' %}
{% load static %}

{% block content %}
<nav class="breadcrumb mt-4">
    <a class="breadcrumb-item link-1 text-black-opacity text-uppercase" href="{% url 'home' %}">Главная</a>
    <span class="breadcrumb-item link-1 text-accent text-uppercase" aria-current="page">Новости</span>
</nav>
<section class="history-section pt-4">
    <div class="row justify-content-between mb-2">
        <div class="col-lg-12">
            <h1 class="heading-1">Новости</h1>
        </div>
        <div class="d-flex my-4 justify-content-between align-items-center">
            <div class="d-flex gap-4">
                <!-- Nav tabs -->
                <ul class="nav nav-tabs gap-4 border-0" id="myTab" role="tablist">
                    <li class="nav-item" role="presentation">
                        <button
                            class="text-black-opacity fw-semibold text-decoration-none body-3 active border-0 bg-transparent"
                            id="home-tab"
                            data-bs-toggle="tab"
                            data-bs-target="#home"
                            type="button"
                            role="tab"
                            aria-controls="home"
                            aria-selected="true"
                        >
                        Все
                        </button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button
                            class="text-black-opacity fw-semibold text-decoration-none body-3 border-0 bg-transparent"
                            id="profile-tab"
                            data-bs-toggle="tab"
                            data-bs-target="#profile"
                            type="button"
                            role="tab"
                            aria-controls="profile"
                            aria-selected="false"
                        >
                        Статьи
                        </button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button
                            class="text-black-opacity fw-semibold text-decoration-none body-3 border-0 bg-transparent"
                            id="messages-tab"
                            data-bs-toggle="tab"
                            data-bs-target="#messages"
                            type="button"
                            role="tab"
                            aria-controls="messages"
                            aria-selected="false"
                        >
                        Новости
                        </button>
                    </li>
                </ul>
            </div>
            <p class="mb-0 fw-semibold body-3 d-none d-md-block">Бупликаций: {{ posts|length }}</p>
        </div>
    </div>
    <!-- Tab panes -->
    <div class="tab-content">
        <div
            class="tab-pane active"
            id="home"
            role="tabpanel"
            aria-labelledby="home-tab"
        >
            <div class="row gy-5">
                {% for post in posts %}
                    <div class="col-xl-4 col-md-6">
                        <a href="{% url 'post-detail' post.slug %}" class="text-black text-decoration-none">
                            <div class="bg-grey border-radius-20">
                                {% if post.photo %}
                                    <img src="{{ post.photo.url }}" class="img-fluid w-100" alt="news image">
                                {% else %}
                                    <img src="{% static 'img/default.png' %}" class="img-fluid w-100" alt="news image">
                                {% endif %}
                            </div>
                            <h3 class="heading-3 mt-3">{{ post.title }}</h3>
                            <p class="body-3 mb-0 text-black-opacity">{{ post.created_at|date:"d F Y" }}</p>
                        </a>
                    </div>
                {% endfor %}
                <div class="col-12">
                    <button type="submit" class="btn btn-accent w-100 mt-4">Показать еще</button>
                </div>
            </div>
        </div>
        <div
            class="tab-pane"
            id="profile"
            role="tabpanel"
            aria-labelledby="profile-tab"
        >
            No post available in this category.
        </div>
        <div
            class="tab-pane"
            id="messages"
            role="tabpanel"
            aria-labelledby="messages-tab"
        >
            No post available in this category.
        </div>
    </div>
</section>
<section class="leaveRequest-section mb-4">
    <div class="bg-grey border-radius-20 px-4 pt-4 pb-5">
        <div class="row justify-content-between">
            <div class="col-lg-5">
                <h2 class="heading-2 mb-3 mb-lg-4">Оставьте заявку</h2>
                <p class="body-2 mb-4 mb-lg-0 pb-2">Получите консультацию или оформите заказ. Мы готовы помочь вам с любыми вопросами!</p>
            </div>
            <div class="col-lg-6">
                <form>
                    <div class="mb-3">
                        <input type="name" class="form-control" id="fullname" placeholder="ФИО">
                    </div>
                    <div class="mb-3">
                        <input type="number" class="form-control" id="PhoneNumber" placeholder="Номер телефона">
                    </div>
                    <button type="submit" class="btn btn-accent w-100 mt-lg-5 mt-4">Отправить</button>
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock  %}