{% extends 'base.html' %}
{% load static %}

{% block content %}
<nav class="breadcrumb mt-4">
    <a class="breadcrumb-item link-1 text-black-opacity text-uppercase" href="{% url 'home' %}">Главная</a>
    <span class="breadcrumb-item link-1 text-accent text-uppercase" aria-current="page">Каталог</span>
</nav>
<section class="pt-4">
    <div class="row justify-content-between mb-4">
        <div class="col-lg-12 mb-4 d-lg-flex align-items-center justify-content-between">
            <h1 class="heading-1">Наша продукция</h1>
            <div class="search-bar py-1">
                <i class="ms-2">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 48 48">
                        <path fill="black" d="M20 6C12.268 6 6 12.268 6 20s6.268 14 14 14a13.94 13.94 0 0 0 8.976-3.256l10.89 10.89a1.25 1.25 0 0 0 1.768-1.768l-10.89-10.89A13.94 13.94 0 0 0 34 20c0-7.732-6.268-14-14-14M8.5 20c0-6.351 5.149-11.5 11.5-11.5S31.5 13.649 31.5 20S26.351 31.5 20 31.5S8.5 26.351 8.5 20" />
                    </svg>
                </i>
                <input type="text" class="form-search border-0 body-3 bg-transparent py-2" placeholder="Поиск">
            </div>
        </div>
        <div class="col-lg-12">
            <!-- Nav tabs -->
            <ul class="nav nav-tabs justify-content-between border-0 custom-tabs" id="myTab" role="tablist">
                {% for category in categories %}
                <li class="nav-item" role="presentation">
                    <button
                        class="nav-link"
                        id="Все-tab"
                        data-bs-toggle="tab"
                        data-bs-target="#Все"
                        type="button"
                        role="tab"
                        aria-controls="Все"
                        aria-selected="true"
                    >
                        {{ category.name }}
                    </button>
                </li>
                {% endfor %}
            </ul>

            <div class="d-flex justify-content-between align-items-center mt-3 mb-4">
                <div class="dropdown open">
                    <button
                        class="btn btn-link dropdown-toggle p-0"
                        type="button"
                        id="triggerId"
                        data-bs-toggle="dropdown"
                        aria-haspopup="true"
                        aria-expanded="false"
                    >
                        Фильтры
                    </button>
                    <div class="dropdown-menu" aria-labelledby="triggerId">
                        <button class="dropdown-item" href="#">Action</button>
                    </div>
                </div>
                <span class="body-3 fw-semibold">Сортировать</span>
            </div>
            <!-- Tab panes -->
            <div class="tab-content">
                <div
                    class="tab-pane active"
                    id="Все"
                    role="tabpanel"
                    aria-labelledby="Все-tab"
                >
                    <div id="product-container">
                        {% for grouped_product in grouped_products %}
                            <div class="row">
                                <div class="col-lg-6 mb-4 order-2 order-lg-1">
                                    <div class="row row-cols-1 row-cols-md-2">
                                        {% for product in grouped_product|slice:":4" %}
                                        <div class="col mb-4">
                                            <div class="border-radius-20 overflow-hidden product-card">
                                                <div class="overlay">
                                                    <a href="#" data-bs-toggle="modal" data-bs-target="#modalId{{ product.unique_id }}">
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="44" height="30" viewBox="0 0 24 24">
                                                            <path fill="#fff" d="M12 9a3 3 0 0 0-3 3a3 3 0 0 0 3 3a3 3 0 0 0 3-3a3 3 0 0 0-3-3m0 8a5 5 0 0 1-5-5a5 5 0 0 1 5-5a5 5 0 0 1 5 5a5 5 0 0 1-5 5m0-12.5C7 4.5 2.73 7.61 1 12c1.73 4.39 6 7.5 11 7.5s9.27-3.11 11-7.5c-1.73-4.39-6-7.5-11-7.5" />
                                                        </svg>
                                                    </a>
                                                </div>
                                                <img src="{{ product.image.url }}" class="img-fluid w-100" alt="{{ product.name }}">
                                                <!-- Modal -->
                                                {% include 'store/product_modal.html' with product=product %}
                                            </div>
                                            <h5 class="heading-5 mt-3">{{ product.name }}</h5>
                                        </div>
                                        {% endfor %}
                                    </div>
                                </div>
                                <div class="col-lg-6 order-1 order-lg-2 mb-4">
                                    {% if grouped_product|length > 4 %}
                                        <div class="border-radius-20 overflow-hidden product-card">
                                            <div class="overlay">
                                                <a href="#" data-bs-toggle="modal" data-bs-target="#modalId{{ grouped_product.4.unique_id }}">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="44" height="30" viewBox="0 0 24 24">
                                                        <path fill="#fff" d="M12 9a3 3 0 0 0-3 3a3 3 0 0 0 3 3a3 3 0 0 0 3-3a3 3 0 0 0-3-3m0 8a5 5 0 0 1-5-5a5 5 0 0 1 5-5a5 5 0 0 1 5 5a5 5 0 0 1-5 5m0-12.5C7 4.5 2.73 7.61 1 12c1.73 4.39 6 7.5 11 7.5s9.27-3.11 11-7.5c-1.73-4.39-6-7.5-11-7.5" />
                                                    </svg>
                                                </a>
                                            </div>
                                            <img src="{{ grouped_product.4.image.url }}" class="img-fluid w-100" alt="{{ grouped_product.4.name }}">
                                            <!-- Modal -->
                                            {% include 'store/product_modal.html' with product=grouped_product.4 %}
                                        </div>
                                        <h5 class="heading-5 mt-3">{{ grouped_product.4.name }}</h5>
                                    {% endif %}
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <button id="load-more" type="submit" class="btn btn-accent w-100 mt-4 text-uppercase">Показать еще</button>
                        </div>
                    </div>
                    <div class="row d-none" id="endOfTheList">
                        <div class="col-12 my-4">
                            <p class="text-uppercase text-center">
                                You have reached the end of the list...
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="leaveRequest-section mb-4">
    <div class="bg-grey border-radius-20 px-4 pt-4 pb-5">
        <div class="row justify-content-between">
            <div class="col-lg-5">
                <h2 class="heading-2 mb-3 mb-lg-4">Оставьте заявку</h2>
                <p class="body-2 mb-4 mb-lg-0 pb-2">Получите консультацию или оформите заказ. Мы готовы помочь вам с любыми вопросами!</p>
            </div>
            <div class="col-lg-6">
                <form>
                    <div class="mb-3">
                        <input type="name" class="form-control" id="fullname" placeholder="ФИО">
                    </div>
                    <div class="mb-3">
                        <input type="number" class="form-control" id="PhoneNumber" placeholder="Номер телефона">
                    </div>
                    <button type="button" class="btn btn-accent w-100 mt-lg-5 mt-4">Отправить</button>
                </form>
            </div>
        </div>
    </div>
</section>
<!-- Modal -->
<div
    class="modal fade"
    id="leaveinrequest-modal"
    tabindex="-1"
    role="dialog"
    aria-labelledby="modalTitleId"
    aria-hidden="true"
>
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content border-radius-40">
            <div class="modal-body">
                <div class="mt-2 mt-lg-0">
                    <button
                        type="button"
                        class="btn-close position-absolute top-0 end-0 bg-accent-light rounded-circle me-lg-3 me-4 mt-lg-3 mt-4"
                        data-bs-dismiss="modal"
                        aria-label="Close"
                    >
                        <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" viewBox="0 0 24 24">
                            <path fill="black" d="m12 13.4l-2.917 2.925q-.277.275-.704.275t-.704-.275q-.275-.275-.275-.7t.275-.7L10.6 12L7.675 9.108Q7.4 8.831 7.4 8.404t.275-.704q.275-.275.7-.275t.7.275L12 10.625L14.892 7.7q.277-.275.704-.275t.704.275q.3.3.3.713t-.3.687L13.375 12l2.925 2.917q.275.277.275.704t-.275.704q-.3.3-.712.3t-.688-.3z" />
                        </svg>
                    </button>
                    <h5 class="heading-4 mb-2">Оставьте заявку</h5>
                    <p class="body-3 mb-4 me-5">Мы готовы ответить на ваши вопросы, предоставить информацию о продукции и помочь сделать правильный выбор.</p>
                    <form>
                        <div class="mb-3">
                            <input type="name" class="form-control" id="requestFullname" placeholder="Имя">
                        </div>
                        <div class="mb-4 pb-2">
                            <input type="number" class="form-control" id="requestPhoneNumber" placeholder="Телефон">
                        </div>
                        <button type="button" class="btn btn-accent w-100">Отправить</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        let offset = {{ products.count }};
        const paginateBy = {{ view.paginate_by }};
        const loadMoreButton = document.getElementById('load-more');

        loadMoreButton.addEventListener('click', function () {
            $.ajax({
                type: 'POST',
                url: "{% url 'product_list' %}",
                data: {
                    'offset': offset,
                    'csrfmiddlewaretoken': '{{ csrf_token }}'
                },
                success: function (response) {
                    $('#product-container').append(response.html);
                    offset += paginateBy;

                    if (!response.has_more) {
                        document.getElementById('endOfTheList').classList.remove("d-none")
                        loadMoreButton.style.display = 'none';
                    }
                },
                error: function (error) {
                    console.error("An error occurred:", error);
                }
            });
        });
    });
</script>


{% endblock  %}