{% extends 'base.html' %}
{% load static %}

{% block content %}
<nav class="breadcrumb mt-4">
    <a class="breadcrumb-item link-1 text-black-opacity text-uppercase" href="{% url 'home' %}">Главная</a>
    <span class="breadcrumb-item link-1 text-accent text-uppercase" aria-current="page">Каталог</span>
</nav>
<section class="pt-4">
    <div class="row justify-content-between mb-4">
        <div class="col-lg-12 mb-4 d-lg-flex align-items-center justify-content-between">
            <h1 class="heading-1">Наша продукция</h1>
            <div class="search-bar py-1">
                <i class="ms-2">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 48 48">
                        <path fill="black" d="M20 6C12.268 6 6 12.268 6 20s6.268 14 14 14a13.94 13.94 0 0 0 8.976-3.256l10.89 10.89a1.25 1.25 0 0 0 1.768-1.768l-10.89-10.89A13.94 13.94 0 0 0 34 20c0-7.732-6.268-14-14-14M8.5 20c0-6.351 5.149-11.5 11.5-11.5S31.5 13.649 31.5 20S26.351 31.5 20 31.5S8.5 26.351 8.5 20" />
                    </svg>
                </i>
                <input type="text" class="form-search border-0 body-3 bg-transparent py-2 no-outline" placeholder="Поиск">
            </div>
        </div>
        <div class="col-lg-12">
            <!-- Nav tabs -->
            <ul class="nav nav-tabs justify-content-between border-0 custom-tabs" id="myTab" role="tablist">
                <li class="nav-item" role="presentation">
                    <button
                        class="nav-link category-filter active"
                        data-category="All"
                        id="all-tab-category"
                        data-bs-toggle="tab"
                        data-bs-target="#Все"
                        type="button"
                        role="tab"
                        aria-controls="Все"
                        aria-selected="true"
                    >
                        All
                    </button>
                </li>
                {% for category in categories %}
                <li class="nav-item" role="presentation">
                    <button
                        class="nav-link category-filter"
                        data-category="{{ category.id }}"
                        id="{{ category.id }}"
                        data-bs-toggle="tab"
                        data-bs-target="#Все"
                        type="button"
                        role="tab"
                        aria-controls="Все"
                        aria-selected="true"
                    >
                        {{ category.name }}
                    </button>
                </li>
                {% endfor %}
            </ul>

            <div class="d-flex justify-content-between align-items-center mt-3 mb-4">
                <div class="dropdown open">
                    <button
                        class="btn btn-link dropdown-toggle p-0"
                        type="button"
                        id="triggerIdFilters"
                        data-bs-toggle="dropdown"
                        aria-haspopup="true"
                        aria-expanded="false"
                    >
                        Фильтры
                    </button>
                    <div class="dropdown-menu" aria-labelledby="triggerIdFilters">
                        <div class="dropdown-item" href="#">
                            <label for="min-price">Минимальная цена:</label>
                            <input type="number" id="min-price" class="form-control" placeholder="Мин. цена">
                        </div>
                        <div class="dropdown-item">
                            <label for="max-price">Максимальная цена:</label>
                            <input type="number" id="max-price" class="form-control" placeholder="Макс. цена">
                        </div>
                        <button id="apply-price-filter" class="btn btn-accent mt-2">Применить</button>
                    </div>
                </div>
                <div class="dropdown open">
                    <button class="btn btn-link dropdown-toggle text-capitalize p-0" type="button" id="triggerIdSorting" data-bs-toggle="dropdown" aria-haspopup="true" data-bs-display="static" aria-expanded="false">
                        Сортировать
                    </button>
                    <div class="dropdown-menu dropdown-menu-lg-end dropdown-menu-end" aria-labelledby="triggerIdSorting">
                        <button class="dropdown-item sort-option" data-sort="asc">Price: Low to High</button>
                        <button class="dropdown-item sort-option" data-sort="desc">Price: High to Low</button>
                    </div>
                </div>
            </div>
            <!-- Tab panes -->
            <div class="tab-content tab-content-store">
                <div
                    class="tab-pane active"
                    id="Все"
                    role="tabpanel"
                    aria-labelledby="Все-tab"
                >
                    <div class="row mb-4" id="product-container">
                         {% if products|length == 0 %}
                            <div class="row" data-aos="fade-up" data-aos-duration="500">
                                <div class="col-12 my-4">
                                    <p class="text-uppercase text-center">
                                       Нет товаров для показа. Обратитесь к системному администратору.
                                    </p>
                                </div>
                            </div>
                        {% endif %}
                        {% for product in products %}
                        <div class="col-lg-3 col-md-6 col-sm-3 mb-4">
                            <div class="border-radius-20 overflow-hidden product-card">
                                <div class="overlay">
                                    <a href="#" data-bs-toggle="modal" data-bs-target="#modalId{{ product.unique_id }}">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="44" height="30" viewBox="0 0 24 24">
                                            <path fill="#fff" d="M12 9a3 3 0 0 0-3 3a3 3 0 0 0 3 3a3 3 0 0 0 3-3a3 3 0 0 0-3-3m0 8a5 5 0 0 1-5-5a5 5 0 0 1 5-5a5 5 0 0 1 5 5a5 5 0 0 1-5 5m0-12.5C7 4.5 2.73 7.61 1 12c1.73 4.39 6 7.5 11 7.5s9.27-3.11 11-7.5c-1.73-4.39-6-7.5-11-7.5" />
                                        </svg>
                                    </a>
                                </div>
                                <img src="{{ product.image.url }}" class="img-fluid w-100" alt="{{ product.name }}">
                                <!-- Modal -->
                                {% include 'store/product_modal.html' with product=product %}
                            </div>
                            <h5 class="heading-5 mt-3">{{ product.name }}</h5>
                        </div>
                        {% endfor %}
                    </div>
                    <div id="spinner" class="d-none text-center my-4">
                        <div class="spinner-border text-accent" role="status">
                            <span class="visually-hidden">Loading...</span>
                        </div>
                    </div>
                    <div class="row d-none" id="no-products-to-display">
                        <div class="col-12 my-4">
                            <p class="text-uppercase text-center">
                                В этой категории нет товаров.
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <button id="load-more" type="submit" class="btn btn-accent w-100 mt-4 text-uppercase">Показать еще</button>
                        </div>
                    </div>
                    <div class="row d-none" id="endOfTheList">
                        <div class="col-12 my-4">
                            <p class="text-uppercase text-center">
                                Вы дошли до конца списка.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="leaveRequest-section mb-4">
    <div class="bg-grey border-radius-20 px-4 pt-4 pb-5">
        <div class="row justify-content-between">
            <div class="col-lg-5">
                <h2 class="heading-2 mb-3 mb-lg-4">Оставьте заявку</h2>
                <p class="body-2 mb-4 mb-lg-0 pb-2">Получите консультацию или оформите заказ. Мы готовы помочь вам с любыми вопросами!</p>
            </div>
            <div class="col-lg-6">
                {% include 'consultation_form.html' %}
            </div>
        </div>
    </div>
</section>
<!-- Modal -->
<div
    class="modal fade"
    id="leaveinrequest-modal"
    tabindex="-1"
    role="dialog"
    aria-labelledby="modalTitleId"
    aria-hidden="true"
>
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content border-radius-40">
            <div class="modal-body">
                <div class="mt-2 mt-lg-0">
                    <button
                        type="button"
                        class="btn-close position-absolute top-0 end-0 bg-accent-light rounded-circle me-lg-3 me-4 mt-lg-3 mt-4"
                        data-bs-dismiss="modal"
                        aria-label="Close"
                    >
                        <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" viewBox="0 0 24 24">
                            <path fill="black" d="m12 13.4l-2.917 2.925q-.277.275-.704.275t-.704-.275q-.275-.275-.275-.7t.275-.7L10.6 12L7.675 9.108Q7.4 8.831 7.4 8.404t.275-.704q.275-.275.7-.275t.7.275L12 10.625L14.892 7.7q.277-.275.704-.275t.704.275q.3.3.3.713t-.3.687L13.375 12l2.925 2.917q.275.277.275.704t-.275.704q-.3.3-.712.3t-.688-.3z" />
                        </svg>
                    </button>
                    <h5 class="heading-4 mb-2">Оставьте заявку</h5>
                    <p class="body-3 mb-4 me-5">Мы готовы ответить на ваши вопросы, предоставить информацию о продукции и помочь сделать правильный выбор.</p>
                    <form>
                        <div class="mb-3">
                            <input type="name" class="form-control" id="requestFullname" placeholder="Имя">
                        </div>
                        <div class="mb-4 pb-2">
                            <input type="number" class="form-control" id="requestPhoneNumber" placeholder="Телефон">
                        </div>
                        <button type="button" class="btn btn-accent w-100">Отправить</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
document.addEventListener('DOMContentLoaded', function () {
    let offset = {{ products.count }};
    const paginateBy = {{ view.paginate_by }};
    const loadMoreButton = document.getElementById('load-more');
    const spinner = document.getElementById('spinner');
    let selectedCategory = null;  // Track the selected category
    let selectedOrder = ''; // Track the selected order
    let minPrice = null;
    let maxPrice = null;
    let isSpinnerLoadingActive = false
    let endOfTheListMessage = document.getElementById('endOfTheList');
    let noProductsToDisplay = document.getElementById('no-products-to-display');
    let response;

    if (offset === 0) {
        loadMoreButton.style.display = 'none';
    }

    function showSpinner() {
        spinner.classList.remove('d-none');
        if (!noProductsToDisplay.classList.contains("d-none")) {
            noProductsToDisplay.classList.add("d-none");
        };

        loadMoreButton.style.display = 'none';
    }

    function hideSpinner() {
        spinner.classList.add('d-none');
    }

    $('#all-tab-category').on('click', function () {
        noProductsToDisplay.classList.add("d-none");
    });

    // Event listener for category filter buttons
    $('.category-filter').on('click', function () {
        selectedCategory = $(this).data('category');
        offset = 0;  // Reset the offset since we're starting a new filter
        endOfTheListMessage.classList.add("d-none");
        $('#product-container').empty();  // Clear the product container

        showSpinner();
        setTimeout(function() {
            loadProducts();
        }, 400)
    });

    // Event listener for sorting buttons
    $('.sort-option').on('click', function () {
        selectedOrder = $(this).data('sort');
        offset = 0;  // Reset the offset when changing sort order
        endOfTheListMessage.classList.add("d-none");
        $('#product-container').empty();  // Clear the product container

        showSpinner();
        setTimeout(function() {
            loadProducts();
        }, 400)
    });

    // Event listener for price filter button
    $('#apply-price-filter').on('click', function () {
        minPrice = $('#min-price').val();
        maxPrice = $('#max-price').val();
        offset = 0;
        endOfTheListMessage.classList.add("d-none");
        $('#product-container').empty();

        showSpinner();
        setTimeout(function() {
            loadProducts();
        }, 400)
    });

    // Event listener for "Load more" button
    loadMoreButton.addEventListener('click', function () {
        showSpinner();
        loadProducts();
    });

    function loadProducts() {
        const formData = new FormData();
        formData.append('offset', offset);
        formData.append('csrfmiddlewaretoken', '{{ csrf_token }}');

        // Include selected category in the request if available
        if (selectedCategory) {
            formData.append('category', selectedCategory);
        }

        // Include selected sorting order if available
        if (selectedOrder) {
            formData.append('ordering', selectedOrder);
        }

        if (minPrice) {
            formData.append('min_price', minPrice);
        }

        if (maxPrice) {
            formData.append('max_price', maxPrice);
        }

        $.ajax({
            type: 'POST',
            url: "{% url 'product_list' %}",
            data: formData,
            processData: false,
            contentType: false,
            beforeSend: function () {
                showSpinner();
            },
            success: function (data) {
                response = data
                if(response.html.trim()) {
                    $('#product-container').append(response.html);
                    offset += paginateBy;

                    if (!response.has_more) {
                        endOfTheListMessage.classList.remove("d-none");
                        noProductsToDisplay.classList.add("d-none")
                        loadMoreButton.style.display = 'none'; // Hide the button if no more products
                    } else {
                        loadMoreButton.style.display = 'block'; // Show the button if there are more products
                    }
                } else {
                     // This block handles the case where no more products are returned
                    if (offset > 0) {
                        // If there were already posts displayed, show the "end of the list" message
                        endOfTheListMessage.classList.remove("d-none");
                    } else {
                        noProductsToDisplay.classList.remove("d-none")
                    }
                }
            },
            error: function (error) {
                console.error("An error occurred:", error);
            },
            complete: function () {
                hideSpinner();  // Hide spinner once loading is complete
                if (response.has_more) {
                    loadMoreButton.style.display = 'block';  // Show "Load more" button if more products
                }
            }
        });
    }
});

</script>


{% endblock  %}