{% extends 'base.html' %} {% load i18n %} {% load static %} {% block content %}
<nav class="breadcrumb mt-4">
  <a
    class="breadcrumb-item link-1 text-black-opacity text-uppercase"
    href="{% url 'home' %}"
    >{% trans 'Home' %}</a
  >
  <a
    class="breadcrumb-item link-1 text-black-opacity text-uppercase"
    href="{% url 'news' %}"
    >{% trans 'News' %}</a
  >
  <span
    class="breadcrumb-item link-1 text-accent text-uppercase"
    aria-current="page"
    >{{ post.title|truncatechars:15 }}</span
  >
</nav>
<section class="pt-3">
  <div class="row justify-content-center">
    <div class="col-xl-8">
      <div class="mx-lg-5 px-lg-5">
        <h3 class="heading-3 mt-3 mb-3">{{ post.title }}</h3>
        <p class="body-3 mb-0 text-black-opacity">
          <span>{{ post.created_at|date:"d F Y" }}</span>
        </p>
      </div>
      <div class="post-details-image-box">
        {% if post.photo %}
        <img
          src="{{ post.photo.url }}"
          alt="news detail"
          class="img-fluid mt-4 pt-2"
        />
        {% else %}
        <img
          src="{% static 'img/default.png' %}"
          class="img-fluid w-100"
          alt="default image"
        />
        {% endif %}
      </div>
        {% if post.video %}
          <div class="post-details-image-box">  
            <video
              class="img-fluid mt-4"
              controls
              preload="metadata"
              >
              <source src="{{ post.video.url }}" type="video/mp4">
              Your browser does not support the video tag.
            </video>
          </div>
        {% endif %}
      <div class="mx-lg-5 px-lg-5 mt-4 pt-2">
        <div class="mb-5">
          <p class="body-2">{{ post.content|safe }}</p>
        </div>
      </div>
    </div>
  </div>
</section>
{% if other_posts|length != 0 %}
<section class="history-section">
  <div class="row justify-content-between mb-4">
    <div class="col-lg-12">
      <h2 class="heading-2">{% trans 'Other news' %}</h2>
    </div>
  </div>
  <div class="flexslider-news-details carousel mb-2">
    <ul class="slides">
      {% for other_post in other_posts %}
      <li>
        <a href="{% url 'post-detail' other_post.slug %}" class="text-black text-decoration-none">
          <div class="bg-grey border-radius-20 post-image-box">
            {% if other_post.photo %}
              <img
                src="{{ other_post.photo.url }}"
                class="img-fluid w-100"
                alt="{{ other_post.title }}"
              />
            {% else %}
              <img
                src="{% static 'img/default.png' %}"
                class="img-fluid w-100"
                alt="default image"
              />
            {% endif %}
          </div>
          <h3 class="heading-3 mt-3">{{ other_post.title }}</h3>
          <p class="body-3 mb-0 text-black-opacity">
            {{ other_post.created_at|date:"d F Y" }}
          </p>
        </a>
      </li>
      {% endfor %}
    </ul>
  </div>
  <div class="row">
    <div class="col-12">
      <a href="{% url 'news' %}" class="btn btn-accent w-100 mt-5 mt-xl-4"
        >{% trans 'All news' %}</a
      >
    </div>
  </div>
</section>
{% endif %}
<section class="leaveRequest-section mb-4">
  <div class="bg-grey border-radius-20 px-4 pt-4 pb-5">
      <div class="row justify-content-between">
          <div class="col-lg-5">
              <h2 class="heading-2 mb-3 mb-lg-4">{% trans 'Leave a request' %}</h2>
              <p class="body-2 mb-4 mb-lg-0 pb-2">{% trans 'Get a consultation or place an order. We are ready to help you with any questions you may have!' %}</p>
          </div>
          <div class="col-lg-6">
              {% include 'consultation_form.html' %}
          </div>
      </div>
  </div>
</section>
{% endblock %}
