{% load static %}
{% load i18n %}
<div class="row mb-5 posts-title" data-aos="fade-up" data-aos-duration="500">
    <div class="col-lg-6 col-10">
        <h2 class="heading-2 mb-3 mb-lg-2">{% trans "News and events" %}</h2>
    </div>
    <div class="col-lg-6 col-10">
        <p class="body-1 mb-lg-0 mb-3">{% trans "Keep up to date with the latest news and achievements of 'ELIMA'." %}</p>
    </div>
</div>
{% if posts|length == 0 %}
    <div class="row" data-aos="fade-up" data-aos-duration="500">
        <div class="col-12 my-4">
            <p class="text-uppercase text-center">
               {% trans "There are no posts to display. Contact your system administrator." %}
            </p>
        </div>
    </div>
{% endif %}
<div class="flexslider carousel mb-2" data-aos="fade-up" data-aos-duration="700">
    <div class="slides">
        {% for post in posts %}
            <li>
                <div class="bg-grey border-radius-20 p-3 posts">
                    <div class="mb-5 pb-4 justify-content-between flower-card">
                        <div class="row">
                            <div class="col-6">
                                <div class="item-img-flower flower-image-container post-card-img-style">
                                    <a href="{% url 'post-detail' post.slug %}" class="posts-title-home">
                                        <img src="{{ post.photo.url }}" class="flower-image">
                                    </a>
                                </div>
                            </div>
                            <div class="col-6 text-end">
                                <span class="body-3">{{ post.created_at|date:"d F Y" }}</span>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex justify-content-between">
                        <h4 class="heading-4"><a href="{% url 'post-detail' post.slug %}" class="posts-title-home">{{ post.title }}</a></h4>
                        <a href="{% url 'post-detail' post.slug %}" class="arrow-circle d-none d-md-block">
                            <svg xmlns="http://www.w3.org/2000/svg" width="38" height="38" viewBox="0 0 24 24">
                                <path fill="rgba(38,38,38,0.2)" d="M13.292 12L9.046 7.754q-.14-.14-.15-.344t.15-.364t.354-.16t.354.16l4.388 4.389q.131.13.184.267t.053.298t-.053.298t-.184.268l-4.388 4.388q-.14.14-.344.15t-.364-.15t-.16-.354t.16-.354z" />
                            </svg>
                        </a>
                    </div>
                </div>
            </li>
        {% endfor %}
    </div>
</div>

<div class="row mt-5" data-aos="fade-up" data-aos-duration="500">
    <div class="col-12 text-center">
        <a href="{% url 'news' %}" class="btn btn-outline-light-gray px-5">{% trans "All news" %}</a>
    </div>
</div>